@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Ms+Madi&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/
.heads{
    background-color: #EA7A0B;
    color: white;
    margin: 1px;
    border-radius: 5px;
    padding: 20px;
}
.heads h2{
    display: flex;
    justify-content: center;
    font-family: 'Ms Madi', cursive;   
    font-size: 55px;
}
.heads h3{    
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}
header {
    color: #2D3937  ;
    padding: 20px;
}
header h1 {
    text-align: center;
    font-family: 'Bona Nova', serif;
    font-size: 70px;  
    
}
header h4 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin-bottom: 10px;

}

.container-navmod{
    width: auto;
    padding: 20px;
    
}

.navbar-mod{    
    background-color: #2D3937;
    margin: 4px;
    border-radius: 5px;
}

.btn-mod{    
    border: #EDE6DB;
    font-size: 15px;
    color: #FCF6B1;
}
.link-mod{
    border-radius: 4px;
    color: white;    
    margin: 9px;
    padding: 1px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}
body{
    background-color: #EBE7EE   

}

.portada{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    
      
}
.portada img{
    border-radius: 5px;  
}

.foot {
    display: block;        
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    background-color: #2D3937;
    color: white;
    border-radius: 5px;
}

.map{
    display: flex;    
    justify-content: center;    
    margin-top: 20px;
    margin-bottom: 20px;
}
footer   {
    display: block;      
    text-align: center;
    font-family: 'Roboto Slab', serif;         
    background-color: #2D3937;
    color: white;
    border-radius: 5px;
    

  
}
hr {
    height: 3px;
    background-color: white;   
  }

footer h1{
    font-size: 50px;
}
footer h2{
    font-size: 30px;

}
  /*MESA REGALOS*/
.liverpool{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 400px;
    justify-content: center;  

}
.liverpool a img{      
    border-radius: 4px;

}
.regalos{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Bona Nova', serif;
    
    
}
.regalos h1{
    font-size: 30px;
}


/*REGISTRO*/

.forms{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;  
}
/*HISTORIA*/

.history {
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    font-size: 25px;

}
.history h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Bona Nova', serif;


}
.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(14, 1fr);  
    grid-template-areas: 
    "h100 img00"
    "img01 h101"
    "h102 img02"
    "img03 h103"
    "h104 img04" 
    "img05 h105"
    "h106 img06"
    "img07 h107"
    "h108 img08"
    " img09 h109"
    "h110 img10"
    "img11 h111"
    "h112 img12"
    "img13 h113";
    justify-items: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;   
    font-family: 'Bona Nova', serif;
    font-size: 30px; }
.galeria div img{ 
    border-top:solid 2px white;	
    border-bottom:solid 2px white;	
    border-left:solid 2px white;	
    border-right:solid 2px white;    
    border-radius: 5px;
    width: 500px;


    
}
.galeria div img{ 
    border-top:solid 2px white;	
    border-bottom:solid 2px white;	
    border-left:solid 2px white;	
    border-right:solid 2px white;    
    border-radius: 5px;
    width: 500px;}

.h100{
    grid-area: h100;
          
}
.h101{
    grid-area: h101;
      
}
.h102{
    grid-area: h102;
      
}
.h103{
    grid-area: h103;
      
}
.h104{
    grid-area: h104;
      
}
.h105{
    grid-area: h105;
          
}
.h106{
    grid-area: h106;
      
}
.h107{
    grid-area: h107;
      
}
.h108{
    grid-area: h108;
      
}
.h109{
    grid-area: h109;
      
}
.h110{
    grid-area: h110;
          
}
.h111{
    grid-area: h111;
      
}
.h112{
    grid-area: h112;
      
}
.h113{
    grid-area: h113;
      
}
.img00{
    grid-area: img00;
    
    
}
.img01{
    grid-area: img01;
}

.img02{
    grid-area: img02;
}

.img03{
    grid-area: img03;
}

.img04{
    grid-area: img04;
  
   
}
.img05{
    grid-area: img05;
    
    
}
.img06{
    grid-area: img06;
    
    
}
.img07{
    grid-area: img07;
    
    
}
.img08{
    grid-area: img08;
    
    
}
.img09{
    grid-area: img09;
    
    
}
.img10{
    grid-area: img10;
    
    
}
.img11{
    grid-area: img11;
    
    
}
.img12{
    grid-area: img12;
    
    
}
.img13{
    grid-area: img13;}

/*MEDIA QUERIES*/
@media only screen and (max-width: 986px)  {
    /*INDEX*/
.heads h2{
    font-size: 35px;
}
.heads h3{
    font-size: 25px;   
}
header h1{ 
    font-size: 55px;    
}
header h4{
    font-size: 30px;
    margin-bottom: 2px;
}
.link-mod{
    font-size: 12px;
    margin: 1px;
    font-size: 30px;
}
.container-navmod{
    width: 100%;
    padding: 2px;
    
}

.portada img{
    width: 500px;
}
.foot h3{
    font-size: 30px;

}

footer h1{
    font-size: 60px;  

}
footer h2{
    font-size: 40px;

}
/*Historia*/
.history{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
   
    
}
.galeria{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.galeria div img{
    width: 500px;
}

/*Regalos*/
.liverpool a img{
    width: 500px;
}

    
}

@media only screen and (max-width: 581px)  {
/*INDEX*/
.heads h2{
    font-size: 25px;
}
.heads h3{
    font-size: 15px;   
}
header h1{ 
    font-size: 45px;    
}
header h4{
    font-size: 20px;
    margin-bottom: 2px;
}

.link-mod{
    font-size: 12px;
    margin: 1px;
    font-size: 20px;
}
.container-navmod{
    width: 100%;
    padding: 2px;
    
}
.portada img{
    width: 400px;
}
.foot h3{
    font-size: 20px;

}

footer h1{
    font-size: 50px;  

}
footer h2{
    font-size: 30px;

}

/*HISTORIA*/
.history{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
   
    
}
.history h1{
    
    font-size: 20px;
    margin-bottom: 15px;
    
}
.history h3{
    font-size: 17px;
}
.galeria{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    
}
.galeria div img{
    width: 280px;
}
/*Regalos*/
.liverpool a img{
    width: 400px;
}

}

/*Animaciones*/
.link-mod:hover,
.link-mod:active{
    background-color:white ;
    color: #2D3937;}