
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Ms+Madi&family=Roboto+Slab:wght@300&display=swap');
$bg_general: #EBE7EE;
$bg_aviso: #EA7A0B;
$bg_white: white;
$bg_contraste:#2D3937;
$txt_gral: white;
$font_cursive:'Ms Madi', cursive;
$font_header:'Bona Nova', serif;
$font_gral:'Roboto Slab', serif;
$font_header_px: 70px;
$font_s: 25px;
$font_m: 35px;
$font_g: 50px;
$font_xl: 65px;
$font_xxl: 75px;

