
footer{
    display: block;      
    text-align: center;
    font-family: $font_gral;         
    background-color: $bg_contraste;
    color: $txt_gral;
    border-radius: 5px;
    
    hr{
        height: 3px;
        background-color: white; 

    }
    h1{
        font-size: $font_xl;
        /*Media queries*/
        @media only screen and (max-width: 986px){

        }
        @media only screen and (max-width: 581px){
            font-size: $font_g;  
        }
    }
    h2{
        font-size: $font_m;
          /*Media queries*/
          @media only screen and (max-width: 986px){

        }
        @media only screen and (max-width: 581px){
            font-size: $font_s; 
        }

    }
 }