
.navbar-mod{
    background-color: $bg_contraste;
    margin: 4px;
    border-radius: 5px;

    .container-navmod{
        width: auto;
        @media only screen and (max-width: 986px){
            width: 100%;
            justify-content: flex-start;
        }
        @media only screen and (max-width: 581px){
            width: 100%;
        }
        .btn-mod{
            border: #EDE6DB;
            font-size: 15px;
            color: #FCF6B1;
        }
        .bar-container{
            .link-mod{
                border-radius: 4px;
                color: $txt_gral;    
                margin: 9px;
                padding: 1px;
                text-align: center;
                font-family: $font_gral;
                font-size:$font_s;
                &:hover{
                    background-color: white ;
                    color:$bg_contraste;
                }
                @media only screen and (max-width: 986px){
                    font-size: $font_s;
                    margin: auto;
                                     

                }
                @media only screen and (max-width: 581px){
                    font-size: $font_xs;
                    margin: auto;
                }
            }
        }
    }
}
header{
    text-align: center;
    padding: 20px;
    h1{    
    font-family: $font_header2;
    font-size: $font_header_px; 
    /*media queries*/
    @media only screen and (max-width: 581px){
        font-size: $font_g;
    }
    }
    h4{
    font-family: $font_gral;
    font-size: $font_s;
    margin-bottom: 10px;
    /*Media Queries*/
    @media only screen and (max-width: 986px){
        font-size: $font_s;
        
    }
    @media only screen and (max-width: 581px){
        font-size: $font_xs;
    }
    }
}

