.history{
   
    /*Media Queries*/
    @media only screen and (max-width: 986px){
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    @media only screen and (max-width: 581px){}
    h1{
    font-size: $font_g;
    text-align: center;
    font-family: $font_header;
     /*Media Queries*/
     @media only screen and (max-width: 986px){
        font-size: $font_m;
     }
     @media only screen and (max-width: 581px){
        font-size: $font_s;
        margin-bottom: 15px;
     }

    }
    h3{
        /*Media Queries*/
     @media only screen and (max-width: 986px){
        font-size: $font_s;
     }
     @media only screen and (max-width: 581px){
        font-size: $font_xs;

       
        
     }

    }
}
.carrusel{
    @media only screen and (max-width: 986px){
        display: none;
     }
     @media only screen and (max-width: 581px){
        display: none;       
        
     }
}


.carrusel-mod{
    margin-top: 150px;
    margin-bottom: 150px;
    
    
    .carousel-item-1{
        background-image: url(../imgs/collage1.jpg);
        @include item-carrusel()
               
    }
   .carousel-item-2{
    background-image: url(../imgs/collage2.jpg);
        @include item-carrusel()
        
    }
    .carousel-item-3{
        background-image: url(../imgs/collage3.jpg);
            @include item-carrusel()
            }
   
}
.galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(6, 1fr);  
    grid-template-areas: 
    "h100 img00"
    "img01 h101"
    "h102 img02"
    "img03 h103"
    "h104 img04" 
    "img05 h105";    
    justify-items: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;   
    font-family: $font_header;
    font-size: $font_m; 
    .h100{grid-area: h100;};
    .h101{grid-area: h101;};
    .h102{grid-area: h102;};
    .h103{grid-area: h103;};
    .h104{grid-area: h104;};
    .h105{grid-area: h105;};
      
    .img00{grid-area: img00;};
    .img01{grid-area: img01;};
    .img02{grid-area: img02;};
    .img03{grid-area: img03;};
    .img04{grid-area: img04;};
    .img05{grid-area: img05;};
    @media only screen and (min-width: 986px){
        display: none;
    }

    @media only screen and (max-width: 986px){
        margin-left: 2px;        
        margin-right: 2px;
        margin-bottom: 5px;
    }
    @media only screen and (max-width: 581px){
        display: flex;
        flex-direction: column;        
        margin-bottom: 20px;
    }

    div img{
    border-radius: 5px;
    width: 500px;
    @media only screen and (max-width: 986px){
        width: 300px;
    }
    @media only screen and (max-width: 581px){
        width: 280px;
    }
    }

    h1{
        font-size: $font_g;
        background-color: $bg_contraste;
        color: $txt_gral;
        border-radius: 5px;
        padding: 10px;
        
        @media only screen and (max-width: 986px){
            font-size: $font_m;
        }
        @media only screen and (max-width: 581px){
            font-size: $font_s;
            margin-top: 25px;
        }
    }

}
    




/*
Media Queries
@media only screen and (max-width: 986px){}
@media only screen and (max-width: 581px){}
*/