.portada{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    img{
        border-radius: 5px;          
    }
}
.foot{
    display: block;        
    text-align: center;
    font-size: $font_m;
    background-color: $bg_contraste;
    color: $txt_gral;
    border-radius: 5px;
}
.map{
    display: flex;    
    justify-content: center;    
    margin-top: 20px;
    margin-bottom: 20px;
}
