.portada{
    width: auto;
    height: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;    
    background-image: url(../imgs/flow.jpg);
    background-repeat: no-repeat;
    @media only screen and (max-width: 986px){
        height: 500px;         
        margin-top: 20px;
    }
    
    img{
        margin-top: 250px;
        border-radius: 8px;  
        /*media queries*/
        @media only screen and (max-width: 986px){
            width: 500px;         
            margin-top: 20px;
        }
              
    }
}
.foot{
    display: block;        
    text-align: center;
    font-size: $font_m;
    background-color: $bg_contraste;
    color: $txt_gral;
    border-radius: 5px;
}
.map{
    display: flex;    
    justify-content: center;    
    margin-top: 20px;
    margin-bottom: 20px;
    
}

