.portada_regalos{
    display: flex;
    flex-direction: row;    
    img{       
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: $bordergral;        
    }
}
.form_r{
    font-family: $font_gral;
    font-size: $font_s;    
    margin: 30px;   
    justify-content: center; 
    @media only screen and (max-width: 986px){
             font-size: $font_xs;         
    }   
    
    .linea-nombre{
        width: 300px;
        border-radius: $bordergral;   
        @media only screen and (max-width: 581px){
            width: auto;
        }     
    }
    h3{
        text-align: center;
        @media only screen and (max-width: 581px){
            font-size: $font_xs;
        }     
    }
        }
    .formulario-formspree{
        display: flex;
        flex-direction: column;        
        background-color: $bg_contraste;
        color: $txt_gral;
        margin: 30px;
        padding: 30px;
        border-radius: $bordergral;
    }
    .muro{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 300px;
        width: 100%;
       border-radius: $bordergral;        
    } 
    .btn-enviar{
        border-radius: 5px;        
        &:hover{
            background-color: $bg_aviso;
            color:$txt_gral;
        }
    }
.mesa-regalos{   
    h3{
        margin-left: 80px;
        margin-right: 80px;
        text-align: justify;
        @media only screen and (max-width: 581px){
            font-size: $font_xs;
        }
    }
}
.row-gi{
    align-items: center;
    padding: 20px;
   
}
.col-m{    
    padding: 40px;
    border-radius: $bordergral;
    &:hover{
        background-color: $bg_contraste;
        color: $txt_gral;
    }
    img{
        background-color: $bg_general;
        border-radius: $bordergral;
        @media only screen and (max-width: 581px){
        width: 190px;
        }
    }

}